.animated-h1 {
  display: inline-block;
  animation: realJump 1.2s cubic-bezier(.28,.84,.42,1) infinite;
}

@keyframes realJump {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-30px);
  }

  40% {
    transform: translateY(0);
  }

  55% {
    transform: translateY(-12px);
  }

  70% {
    transform: translateY(0);
  }

  85% {
    transform: translateY(-4px);
  }

  100% {
    transform: translateY(0);
  }
}

