/* Light background */
.light-bg {
  background: linear-gradient(to top right, #3436b1, #08c4fc);
}

/* Dark background */
.dark-bg {
  background: #111;
}

/* Custom Dark Mode Switch */
.switch {
  width: 50px;
  height: 25px;
  background: #888;
  border-radius: 50px;
  padding: 3px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.switch-ball {
  width: 19px;
  height: 19px;
  background: #fff;
  border-radius: 50%;
  transition: 0.3s;
}

.switch.active {
  background: #0d6efd;
}

.switch.active .switch-ball {
  transform: translateX(24px);
}
