.motherboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}
.tasks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}