.container-color{
    border: 1px solid lightgray;
    margin:  10px 200px;
    text-align: center;
    height: auto;
    width: auto;
    padding: 50px;
    border-radius: 50px;
}
.color-display{
    margin: auto;
    height: 150px;
    width: 150px;
    border-radius: 15px;
    border: 1px solid lightgray;
    box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.16);
}
.container-color h1 {
    font-weight: bold;
    margin-bottom: 10px;
}

.container-color input{
    border: none;
    border-radius: 10px;
}
.container-color h3 {
    margin: 15px;
}